## Funding Provided Predictive Model

Building a predictive model to see if selected demographic factor will lead to if the area will get funded for broadband development

1. Find out the blocks that do not have broad band access for the year 2014, 2015, 2016, 2017
2. Find out the block that are funded to have broadband access in the next year
3. Aggregate census feature tables for all the blocks that do not have broad band access

In [1]:
import pandas as pd
import numpy as np

In [10]:
query14 = """
SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2014_latest fcc2014
on all_block.block_code = fcc2014.block_code
where fcc2014.block_code is null 
"""

query15 = """
SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2015_latest fcc2015
on all_block.block_code = fcc2015.block_code
where fcc2015.block_code is null 
"""

query16 = """
SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2016_latest fcc2016
on all_block.block_code = fcc2016.block_code
where fcc2016.block_code is null 
"""

query17 = """
SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2017_latest fcc2017
on all_block.block_code = fcc2017.block_code
where fcc2017.block_code is null 
"""

no_deployment14 = pd.read_gbq(query14, project_id='fccdsicapstone-218522', dialect='standard')
no_deployment15 = pd.read_gbq(query15, project_id='fccdsicapstone-218522', dialect='standard')
no_deployment16 = pd.read_gbq(query16, project_id='fccdsicapstone-218522', dialect='standard')
no_deployment17 = pd.read_gbq(query17, project_id='fccdsicapstone-218522', dialect='standard')

In [22]:
fund_query15 = """

SELECT noAccess14.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2014_latest fcc2014
on all_block.block_code = fcc2014.block_code
where fcc2014.block_code is null ) noAccess14
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2015) as fund
ON noAccess14.no_deployment = fund.census_block

"""
fund_query16 = """

SELECT noAccess15.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2015_latest fcc2015
on all_block.block_code = fcc2015.block_code
where fcc2015.block_code is null ) noAccess15
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2016) as fund
ON noAccess15.no_deployment = fund.census_block

"""
fund_query17 = """

SELECT noAccess16.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2016_latest fcc2016
on all_block.block_code = fcc2016.block_code
where fcc2016.block_code is null ) noAccess16
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2017) as fund
ON noAccess16.no_deployment = fund.census_block

"""
funded_block_15 = pd.read_gbq(fund_query15, project_id='fccdsicapstone-218522', dialect='standard')
funded_block_16 = pd.read_gbq(fund_query16, project_id='fccdsicapstone-218522', dialect='standard')
funded_block_17 = pd.read_gbq(fund_query17, project_id='fccdsicapstone-218522', dialect='standard')

In [23]:
print(funded_block_15.shape)
print(funded_block_16.shape)
print(funded_block_17.shape)

(2493724, 2)
(2316072, 2)
(2197169, 2)

In [25]:
##Aggregate up to Block_group Level 

bg_query15 = """

SELECT SUBSTR(A.block_code, 1, 12)as block_group_code, 
CASE WHEN SUM(A.funded_label)>=2 THEN 1 ELSE 0 END as label
FROM 

(SELECT noAccess14.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2014_latest fcc2014
on all_block.block_code = fcc2014.block_code
where fcc2014.block_code is null ) noAccess14
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2015) as fund
ON noAccess14.no_deployment = fund.census_block) A

GROUP BY 1

"""
bg_15 = pd.read_gbq(bg_query15, project_id='fccdsicapstone-218522', dialect='standard')

In [48]:
bg_acs_query15 = """

SELECT labeltable.block_group_code, acsgeo.population, acsgeo.perc_urban, acsgeo.elevation_mean, acsgeo.two_or_more_races, 
acsgeo.educational_attainment_total, acsgeo.median_household_income_in_the_past_12_months, acsgeo.owner_occupied, 
acsgeo.health_insurance_total, labeltable.label

FROM 

(SELECT SUBSTR(A.block_code, 1, 12)as block_group_code, 
CASE WHEN SUM(A.funded_label)>=2 THEN 1 ELSE 0 END as label
FROM 
(SELECT noAccess14.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2014_latest fcc2014
on all_block.block_code = fcc2014.block_code
where fcc2014.block_code is null ) noAccess14
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2015) as fund
ON noAccess14.no_deployment = fund.census_block) A
GROUP BY 1) labeltable

LEFT JOIN

broadband.all_block_groups_acs_geo_agg_2014 acsgeo

ON labeltable.block_group_code = acsgeo.bg_code

"""


bg_acs_query16 = """

SELECT labeltable.block_group_code, acsgeo.population, acsgeo.perc_urban, acsgeo.elevation_mean, acsgeo.two_or_more_races, 
acsgeo.educational_attainment_total, acsgeo.median_household_income_in_the_past_12_months, acsgeo.owner_occupied, 
acsgeo.health_insurance_total, labeltable.label

FROM 

(SELECT SUBSTR(A.block_code, 1, 12)as block_group_code, 
CASE WHEN SUM(A.funded_label)>=2 THEN 1 ELSE 0 END as label
FROM 
(SELECT noAccess15.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2015_latest fcc2015
on all_block.block_code = fcc2015.block_code
where fcc2015.block_code is null ) noAccess15
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2016) as fund
ON noAccess15.no_deployment = fund.census_block) A
GROUP BY 1) labeltable

LEFT JOIN

broadband.all_block_groups_acs_geo_agg_2015 acsgeo

ON labeltable.block_group_code = acsgeo.bg_code

"""

bg_acs_query17 = """

SELECT labeltable.block_group_code, acsgeo.population, acsgeo.perc_urban, acsgeo.elevation_mean, acsgeo.two_or_more_races, 
acsgeo.educational_attainment_total, acsgeo.median_household_income_in_the_past_12_months, acsgeo.owner_occupied, 
acsgeo.health_insurance_total, labeltable.label

FROM 

(SELECT SUBSTR(A.block_code, 1, 12)as block_group_code, 
CASE WHEN SUM(A.funded_label)>=2 THEN 1 ELSE 0 END as label
FROM 
(SELECT noAccess16.no_deployment as block_code,
CASE WHEN fund.census_block is null THEN 0 ELSE 1 END AS funded_label
FROM
(SELECT all_block.block_code as no_deployment
FROM broadband.census_block all_block
left join broadband.fcc2016_latest fcc2016
on all_block.block_code = fcc2016.block_code
where fcc2016.block_code is null ) noAccess16
LEFT Join (SELECT * FROM broadband.fund WHERE year = 2017) as fund
ON noAccess16.no_deployment = fund.census_block) A
GROUP BY 1) labeltable

LEFT JOIN

broadband.all_block_groups_acs_geo_agg_2016 acsgeo

ON labeltable.block_group_code = acsgeo.bg_code

"""

bg_acs_15 = pd.read_gbq(bg_acs_query15, project_id='fccdsicapstone-218522', dialect='standard')
bg_acs_16 = pd.read_gbq(bg_acs_query16, project_id='fccdsicapstone-218522', dialect='standard')
bg_acs_17 = pd.read_gbq(bg_acs_query17, project_id='fccdsicapstone-218522', dialect='standard')

In [49]:
data_15 = bg_acs_15[bg_acs_15['median_household_income_in_the_past_12_months'].notnull()]
data_16 = bg_acs_16[bg_acs_16['median_household_income_in_the_past_12_months'].notnull()]
data_17 = bg_acs_17[bg_acs_17['median_household_income_in_the_past_12_months'].notnull()]

,block_group_code,population,perc_urban,elevation_mean,two_or_more_races,educational_attainment_total,median_household_income_in_the_past_12_months,owner_occupied,health_insurance_total,label
33,245102505001,0.0,0.950000,10.569927,0.0,0.0,-666666666,0.0,0.0,0
34,330159800111,0.0,0.885714,66.240020,0.0,0.0,-666666666,0.0,0.0,0
35,240059800001,0.0,0.969112,3.773541,0.0,0.0,-666666666,0.0,0.0,0
36,120119800001,0.0,0.043478,3.735059,0.0,0.0,-666666666,0.0,0.0,0
37,060014090002,0.0,0.947368,3.747324,0.0,0.0,-666666666,0.0,0.0,0
38,440050402002,0.0,0.951220,11.806344,0.0,0.0,-666666666,0.0,0.0,0
39,060310017015,0.0,0.002045,245.034009,0.0,0.0,-666666666,0.0,0.0,0
40,060590219241,0.0,0.010753,261.805242,0.0,0.0,-666666666,0.0,0.0,0
41,260999821001,0.0,0.939655,170.048066,0.0,0.0,-666666666,0.0,0.0,0
42,511539801001,0.0,0.009009,70.611329,0.0,0.0,-666666666,0.0,0.0,0
43,120999802001,0.0,0.230769,5.907254,0.0,0.0,-666666666,0.0,0.0,0
44,360811072021,0.0,0.095238,0.450147,0.0,0.0,-666666666,0.0,0.0,0
45,490359800001,0.0,0.653846,1287.616182,0.0,0.0,-666666666,0.0,0.0,0
46,470659802001,0.0,0.142857,241.803864,0.0,0.0,-666666666,0.0,0.0,0
47,516709801001,0.0,0.666667,11.088559,0.0,0.0,-666666666,0.0,0.0,0
48,440099901000,0.0,0.021277,0.005417,0.0,0.0,-666666666,0.0,0.0,0
49,060014090004,0.0,0.953488,2.826220,0.0,0.0,-666666666,0.0,0.0,0
50,370519801001,0.0,0.072464,76.102757,0.0,0.0,-666666666,0.0,0.0,0
51,060379800331,0.0,0.933824,3.070808,0.0,0.0,-666666666,0.0,0.0,0
52,480279800031,0.0,0.110092,234.696822,0.0,0.0,-666666666,0.0,0.0,0
53,060819843001,0.0,0.931818,3.005413,0.0,0.0,-666666666,0.0,0.0,0
54,250259901010,0.0,0.200000,-0.002011,0.0,0.0,-666666666,0.0,0.0,0
55,530359901000,0.0,0.107143,0.000000,0.0,0.0,-666666666,0.0,0.0,0
56,320199601031,0.0,0.125000,1251.464249,0.0,0.0,-666666666,0.0,0.0,0
57,130519800001,0.0,0.670213,3.084698,0.0,0.0,-666666666,0.0,0.0,0
58,530350926001,0.0,0.866667,5.757649,0.0,0.0,-666666666,0.0,0.0,0
59,051190032051,0.0,0.486486,87.761749,0.0,0.0,-666666666,0.0,0.0,0
60,261639856001,0.0,0.823529,141.639610,0.0,0.0,-666666666,0.0,0.0,0
61,360811072020,0.0,0.166667,0.178750,0.0,0.0,-666666666,0.0,0.0,0
62,060719801001,0.0,0.617647,334.261041,0.0,0.0,-666666666,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
89099,120570114102,2303.0,1.000000,14.489771,376.0,1459.0,70000,688.0,2303.0,0
89100,482013314001,2303.0,1.000000,13.024933,7.0,1004.0,8843,31.0,2303.0,0
89101,401091083142,2303.0,1.000000,351.832712,164.0,1472.0,32043,0.0,2303.0,0
89102,482015511002,2303.0,1.000000,34.242490,13.0,1130.0,32196,183.0,2303.0,0
89103,220150106013,2559.0,1.000000,51.236200,66.0,1505.0,28836,248.0,2559.0,0
89104,120860039062,2559.0,1.000000,1.329636,26.0,1607.0,192105,722.0,2559.0,0
89105,120860106126,2559.0,1.000000,1.106219,17.0,1509.0,86419,551.0,2559.0,0
89106,191530001011,2559.0,1.000000,269.483119,122.0,1504.0,27463,170.0,2553.0,0
89107,420171052081,2559.0,1.000000,76.359448,77.0,1552.0,122266,709.0,2559.0,0
89108,110010104002,2559.0,1.000000,41.380405,8.0,1679.0,33699,230.0,2227.0,0
89109,510594326001,2559.0,1.000000,70.493432,159.0,1693.0,134931,727.0,2532.0,0
89110,040070003012,2559.0,1.000000,1505.696965,51.0,1774.0,37174,479.0,2504.0,0
89111,040132168401,2559.0,1.000000,581.585695,10.0,1887.0,95543,900.0,2559.0,0
89112,360850198004,2559.0,1.000000,9.875747,46.0,1710.0,89758,515.0,2559.0,0
89113,516500103071,2815.0,1.000000,6.686659,54.0,2106.0,94936,886.0,2748.0,0
89114,240317008301,2815.0,1.000000,151.979904,29.0,1794.0,69836,162.0,2766.0,0
89115,120860120002,2815.0,1.000000,2.000000,29.0,1779.0,41932,143.0,2761.0,0
89116,220550010011,2815.0,1.000000,13.249074,147.0,1762.0,48683,727.0,2768.0,0
89117,120860050022,3071.0,1.000000,3.376896,0.0,2640.0,25813,309.0,3071.0,0
89118,261251366003,3071.0,1.000000,272.371057,36.0,2090.0,72917,595.0,3071.0,0
89119,180571104031,3071.0,1.000000,256.947635,0.0,1897.0,68750,700.0,3071.0,0
89120,130530202011,3071.0,1.000000,99.071876,115.0,1067.0,51425,0.0,548.0,0
89121,131210114123,3327.0,1.000000,311.939643,9.0,2106.0,81995,764.0,3327.0,0
89122,060290054032,3327.0,1.000000,707.402986,163.0,2184.0,63098,639.0,3252.0,0
89123,510594160002,3583.0,1.000000,13.767301,36.0,2140.0,61250,778.0,3502.0,0
89124,471490402001,3583.0,1.000000,183.619187,166.0,2309.0,56319,1007.0,3583.0,0
89125,121030245081,4095.0,1.000000,4.127741,116.0,2687.0,43152,435.0,4095.0,0
89126,120990077601,4095.0,1.000000,5.512450,324.0,2706.0,138177,972.0,4095.0,0
89127,120110106111,4095.0,1.000000,4.044371,142.0,2842.0,112443,1166.0,4095.0,0
89128,280590409002,4351.0,1.000000,4.579443,284.0,2538.0,66172,1205.0,4288.0,0